.card{
  border:1px solid rgba(192,192,192,0.5);
  display:inline-block;
  margin:5px;
  vertical-align:top;
  background:#fff;
  transition:background-color 0.5s ease, color 0.5s ease;
  animation-duration:0.5s;
}

.card a{
  text-decoration:none;
  padding: 0px 2px;
  margin: 0px 2px;
}


/*handle*/
.card .handle{
	cursor:move;
	min-height:21px;
  transition:background-color 0.5s ease, color 0.5s ease;
}

.card .handle .title {
	transition:color 0.5s ease;
	text-shadow: 1px 1px 1px #000;
	font-size: 17px;
	font-family: arial;
	color:#fff;
}

.card .handle .deleteListButton{
	float:right;
}


/*content*/
.card .content{
	min-width:285px;
	height:213px;
	min-height: 214px;
	resize: both;
	overflow: auto;
}


/*menu*/
.card .menu{
	background: #5151A0;
	padding:5px;
	color:white;
	display:none;
}

.card .menu a{
	color:inherit;
}

.card .menu .menuContent{
	padding:5px;
}

.card .menu.focus{
	display:block;
}


/*list specific*/
.list .listForm{
	padding:3px;
}

.list ol{
	min-height:40px;
	margin-bottom:0px;
	padding-bottom:0px;
	padding-left:30px;
}

.list .editControls{
	display:inline-block;
}

.list .deleteEditButton{
text-align:center;
min-width:9px;
}


/*list group*/
.listGroup li span{
	display:block;
	cursor:pointer;
}

.listGroup li .object span{
  display:inline;
  cursor: auto;
}

.listGroup li .inlineEdit{
	display:inline-block;
	vertical-align:top;
}

.listGroup li span:hover{
	background:rgba(238,238,238,0.5);
}

.listGroup .itemEdit{
vertical-align:top;
}

.listGroup .nameTextarea{
  display:none;
  vertical-align:top;
}

.card .uniqueSelected{
  text-decoration:line-through;
}

.gridGroup input[name="gridColumns"]{
  width:40px;
}

.gridGroup ol{
  list-style:none;
  margin:0px;
  padding:0px;
  /*border:1px solid rgba(0,0,0,0.5);
  min-height:100px;
  border: 1px solid rgba(0,0,0,0.2);*/
  min-height: calc(100% - 68px);
  width:285px;
}

.gridGroup ol li{
  display:inline-block;
  width:91px;
  height:80px;
  vertical-align:top;
  margin: 2px;
  background: rgba(232,232,232,0.5);
  transition:background-color 0.5s ease, color 0.5s ease;
}

.gridGroup ol li.selectedGridItem{
  background-color:#00B7EA;
}
