.dialog .content{
  width:400px;
  height:400px;
  overflow:auto;
  resize: both;
}

/*help dialog**/
.dialog.help .content ul, .dialog.changes .content ul{
  padding-left:10px;
  padding-right:5px
}

.dialog.help .content li, .dialog.changes .content ul li{
  margin-bottom:3px;
  padding:2px;
  font-size:13pt;
}

.dialog.help .content ul li:hover, .dialog.changes .content ul li:hover{
  background:#eee;
}


/*about dialog*/
.dialog.about .content{
  height:250px;
}

.dialog.about .content{
  padding:5px;
  font-size:13pt;
}

.dialog.about .content a{
  border:none;
  background:transparent;
  text-decoration:none;
}

.dialog.about .content a:hover{
  text-decoration:underline;
}
