/*Header*/
.header{
	transition:background-color 0.5s ease;
}

.header .hamburger{
margin-top:10px;
}

.header h1{
	margin:0px 0px;
	padding:20px;
	font-family:'Berkshire Swash';
	color:#fff;
	background:#444;
	text-align:center;
	transition:background-color 0.5s ease, color 0.5s ease;
}

.header a, .card a{
    background: linear-gradient(to bottom, rgba(238,238,238,0.8) 0%,rgba(204,204,204,0.4) 100%);
    padding: 3px;
    /*border-radius: 2px;*/
    display: inline-block;
    margin: 0px 5px;
    border: 1px solid rgba(171,151,151,0.5);
    color: #000;
	text-decoration:none;
}

.header .javacriptWarning{
	text-align:center;
	font-weight:bold;
}

.header .menuBar{
text-align:center;
padding:10px 5px;
background-color:#fff;
transition:background-color 0.5s ease, color 0.5s ease;
}

.header .menuBar .inlineBlock{
display:inline-block;
}

.header a.shareButton{
display:none;
}
