.list{
border:1px solid #c0c0c0;
display:inline-block;
margin:5px;
vertical-align:top;
background:#fff;
min-width:275px;
min-height: 200px;
transition:background-color 0.5s ease, color 0.5s ease;
animation-duration:0.5s;
/*box-shadow:2px 2px 11px rgba(0,0,0,0.25);*/
}

.list a, .rollContainer a{
	text-decoration:none;
	padding: 0px 2px;
	margin: 0px 2px;
}



.list .handle{
	cursor:move;
	min-height:21px;
}

.list .content{
padding:5px;
display: inline-block;
width:275px;
height: 200px;
resize: both;
overflow:auto;
}

.list ol{
	min-height:40px;
	margin-bottom:0px;
	padding-left:30px;
}
