.objectGroup li .object{
	display:block;
	cursor:pointer;
}

.objectGroup li .object span{
	display:inline-block;
	font-size:14pt;
}

.objectGroup li .object:hover{
	background:#eee;
}


.objectGroup li .objectEdit{
	display:inline-block;
	vertical-align:top;
	text-align:right;
}

.objectGroup li .objectEdit textarea{
	vertical-align:top;
}



.objectGroup .buttons{
text-align:center;
}

.objectGroup .buttons{
margin-top:4px;
}

.objectGroup .buttons .addObjectButton{
background:linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%);
}

.objectGroup .message{
text-align:center;
}

.objectGroup .objectForm{
text-align:right;
display:inline-block;
}

.objectForm textarea{
vertical-align:top;
width:167px;
}

.objectGroup .colorBlock, .rollContainer .colorBlock{
	width:15px;
	height:15px;
	border:1px solid #c0c0c0;
	display:inline-block;
}
