
.rollContainer table{
    border-spacing: 0;
    border-collapse: collapse;
	width:100%;
}

.rollContainer table tbody tr:hover{
	background:rgba(238,238,238,0.5);
}

.rollContainer table th{
	text-align: left;
	padding:3px 6px;
	cursor:pointer;
}

.rollContainer table td{
border-right:1px solid #c0c0c0;
padding:0px 6px;
vertical-align:top;
}

.rollContainer table td:last-child{
border-right:none;
}

.rollContainer .object{
	display:inline-block;
	vertical-align:top;
}
