.rollContainer {
	display:inline-block;
	vertical-align: top;
	border:1px solid #c0c0c0;
	background:#fff;
	margin: 5px;
}

.rollContainer .content{
	min-width:285px;
	height:213px;
	min-height: 214px;
	resize: both;
	overflow: auto;
}

.rollContainer .handle{
	cursor:move;
	min-height: 21px;
}

.rollContainer .handle .title {
	transition:color 0.5s ease;
	text-shadow: 1px 1px 1px #000;
	font-size: 17px;
	font-family: arial;
	color:#fff;
}

.rollContainer table{
    border-spacing: 0;
    border-collapse: collapse;
	width:100%;
}

.rollContainer table tr:hover{
	background:#eeeeee;
}

.rollContainer table th{
	text-align: left;
	padding:3px 6px;
}

.rollContainer table td{
border-right:1px solid #c0c0c0;
padding:0px 6px;
vertical-align:top;
}

.rollContainer table td:last-child{
border-right:none;
}

.rollContainer .menu, .list .menu{
	background: #5151A0;
	padding:5px;
	color:white;
	display:none;
}

.rollContainer .menu a, .list .menu a{
	color:#000;
}

.rollContainer .menu .menuContent, .list .menu .menuContent{
	padding:5px;
}

.rollContainer .menu.focus, .list .menu.focus{
	display:block;
}

.rollContainer .object{
	display:inline-block;
	vertical-align:top;
}
