/* latin-ext */
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(https://fonts.gstatic.com/s/berkshireswash/v4/4RZJjVRPjYnC2939hKCAimFprui36xQdb4y7MggwzrY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(https://fonts.gstatic.com/s/berkshireswash/v4/4RZJjVRPjYnC2939hKCAiiJH4brlqpr7zMNWu0xQjN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body{
  height:100%;
  max-width: 100%;
  overflow-x: hidden;
}

body{
fill: currentColor;
padding:0px;
margin:0px;
transition:background-color 0.5s ease;
}



.hamburger.menu{
  padding:0;
  height:100%;
  width: 250px;
}

a.hamburger {
    float: none;
    margin-right: 10px;
}

body.menuOpen .hamburger.menu {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
}

/*body .processing{
  position: fixed;
  left: calc(50% - 100px);
  top: calc(50% - 125px);
  background: orange;
  width: 200px;
  height: 100px;
  padding-top: 50px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  font-weight:bold;
  font-size: 25px;
  font-family: arial;
  display:none;
  z-index:2;
}

body.processing .processing{
  display:block;
}*/


.menu .subMenu{
  display:none;
  padding:5px;
}

.menu .subMenu .closeMenuButton{
  float:right;
}

.menu .subMenu.focus{
  display:block;
}

.menu .subMenu .importFile{
  width:203px;
}

.menu .subMenu .loadRawTextArea{
  width: calc(100% - 10px);
  height:100px;
}

.error{
	transition:border-color 0.5s ease;
	border:2px solid red;
}

/*Central container*/
.listGroupContainer{
padding: 5px;
}


/*.noteInput{
vertical-align:top;
}*/



/*Highlight Animation*/
@keyframes highlight {
  from, 50%, to {
    background-color:transparent;
  }

  25% {
    background-color:#00B7EA;
  }
}

.highlight {
	animation-duration:0.5s;
  -webkit-animation-name: highlight;
  animation-name: highlight;
}

input{
  background-color:rgba(255,255,255,0.75);
}

input.colorSelector{
  width: 19px;
  height: 19px;
  padding: 0px;
  border: 0px solid #000;
}

@media screen and (max-width:425px){
	.listGroupContainer{
		padding:0px;
	}
	.rollContainer, .list{
		margin:0px;
		display:block;
	}
}


@media print {
	.header, .listForm, .list .handle .deleteListButton{
		display:none;
	}

	.list ol{
		margin-top:0px;
	}

	.rollContainer, .rollContainer table{
		width:100%;
	}
}

svg{
  vertical-align: middle;
  fill:currentColor;
}

.inactive svg{
  opacity:0.4;
}
