/* latin-ext */
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(https://fonts.gstatic.com/s/berkshireswash/v4/4RZJjVRPjYnC2939hKCAimFprui36xQdb4y7MggwzrY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(https://fonts.gstatic.com/s/berkshireswash/v4/4RZJjVRPjYnC2939hKCAiiJH4brlqpr7zMNWu0xQjN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
padding:0px;
margin:0px;
}

.error{
	transition:border-color 0.5s ease;
	border:2px solid red;
}

.listGroupContainer{
padding: 5px;
}

.handle .deleteListButton{
	float:right;
}

.noteDeleteButton, .deleteEditButton{
text-align:center;
min-width:9px;
}

.noteInput{
vertical-align:top;
}

.noteEdit{
vertical-align:top;
}

.editControls{
	display:inline-block;
}

.addInput{
margin-bottom:10px;
}

.addInput input, .editInput input{
width:130px;
}

.addInput .buttons{
margin-top:4px;
text-align:center;
}

.addInput .buttons a{
padding:4px;
color:#fff;
background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%);
background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%);
}

.addInputButton:hover{
text-decoration:underline;
}

.editInput{
}

/*Highlight Animation*/
@keyframes highlight {
  from, 50%, to {
    background-color:#fff;
  }

  25% {
    background-color:#00B7EA;
  }
}

.highlight {
	animation-duration:0.5s;
  -webkit-animation-name: highlight;
  animation-name: highlight;
}

@media screen and (max-width:425px){
	.listGroupContainer{
		padding:0px;
	}
	.rollContainer, .list{
		margin:0px;
		display:block;
	}
}


@media print {
	.header, .listForm, .list .handle .deleteListButton{
		display:none;
	}

	.list ol{
		margin-top:0px;
	}

	.rollContainer, .rollContainer table{
		width:100%;
	}
}
